*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#app {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* .layui-btn, .layui-input, .layui-select, .layui-textarea, .layui-upload-button {
  outline: 0;
  -webkit-appearance: none;
  transition: all .3s;
  -webkit-transition: all .3s;
  box-sizing: border-box;
} */
/* .layui-badge-rim, .layui-border, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-panel, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
  border-color: #eee;
} */
button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button, input, select, textarea {
  font-size: 100%;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
